.footer {
    background-color: #32DE84;
    color: rgb(0, 0, 0);
    padding: 15px 20px;
    font-family: Arial, sans-serif;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

.footer ul {
    list-style-type: none;
    padding: 0;
}

.footer ul li {
    margin: 5px 0;
}

.footer ul li a {
    color: #ddd;
    text-decoration: none;
    transition: color 0.3s;
}
.footer-bottom {
    font-size: 0.9rem;
    margin-top: 0px;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        text-align: left;
    }
}